<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
  <script src="/js/jquery.js"></script>
  <script src ="/js/script.js"></script>
</head>
<body id="searchBody">
<nav id="nav">
<a href="/users/logout" class="sLinks">Log Out</a>
<a href="/users/profile" class="sLinks">My Profile</a>
</nav>

<div class="searchHeaders">
    <center><h1 class="sportsBars">SEARCH SPORTS BARS</h1></center>
    <center><h2 class="searchBars">Where Are You?</h2></center>

    <center><form id="search">
      <input type="text" id="search-input" placeholder="City/Town/Zip Code" />
      <button id="search-button">Search</button>
    </form></center>
</div>

  <div class="container">
    
   
    <center>
    <div class="resultDiv">
    </div>
    </center>

  </div>
</body>
</html>