<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
  <script src="/js/jquery.js"></script>
  <script src ="/js/script.js"></script>
</head>
<body>
    <center><h1 id="sportsbars">SEARCH SPORTS BARS</h1></center>
    <center><h2 id="searchbars">Where Are You?</h2></center>
  <div class="container">
    <center><form id="search">
      <input type="text" id="search-input" placeholder="City/Town/Zip Code" />
      <button id="search-button">Search</button>
    </form></center>
    <center><div class="resultDiv">

    </div></center>
  </div>
</body>
</html>