<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WELCOME</title>
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Vast+Shadow" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <center><h1 class="top20 welcomeText">TOP 20</h1></center>
    <center><h2 class="subhead welcomeText">SPORTS BAR FINDER</h2></center>
    <center><div>
          <a href="/users/login" class="welcomeLinks">Login</a>
          <a href="/users/new" class="welcomeLinks">Sign Up</a>  
    </div></center>
</body>
</html>