<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WELCOME</title>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Holtwood+One+SC" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body class="body">

<div class="top">
    <h1 class="top20 header">TOP 20</h1></center>
   <h2 class="top20 subhead">     SPORT<span class="flickers">S</span> B<span class="flicker">AR</span> F<span class="flicker">I</span>ND<span class="blinker">ER</span>          </h2>
</div>

<center><div class="landing">
          <a href="/users/login" class="welcomeLinks">Login</a>
          <a href="/users/new" class="welcomeLinks">Sign Up</a>  
</div></center>


</body>
</html>