.body {
	background-color: lightgoldenrodyellow;
}

.top {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 350px;
	border: 2px solid black;
	background-color: midnightblue;
	margin-top: -7px;
	margin-left: -7px;
}

.top20 {
	font-family: 'Bungee Inline', cursive;
}

.header {
	font-size: 120px;
	margin-bottom: -65px;
	margin-top: 35px;
	color: gold;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
}

.subhead {
	font-size: 90px;
	color: gold;
	text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
}

.flicker {
	font-size: 90px;
	color: gold;
	animation: flash linear .1s;
	animation-iteration-count: 20;
}

.flickers {
	font-size: 90px;
	color: gold;
	animation: flash linear .1s;
	animation-iteration-count: 10;
}

.blinker {
	font-size: 90px;
	color: gold;
	animation: flash linear .1s;
	animation-iteration-count: 30;
}

@keyframes flash {
	0% { opacity: 0; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

.landing {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 600px;
	height: 300px;
	margin-top: 20px;
}


.welcomeLinks {
	color: midnightblue;
	font-size: 50px;
	padding: 35px;
	text-decoration: none;
	font-family: 'Holtwood One SC', serif;
	text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px gold;
	margin: 0 auto;
}

.welcomeLinks:hover {
	text-decoration: underline;
	color: yellow;
}

/*LOGIN CSS*/

.loginMain {
	background-color: lightgoldenrodyellow;
}

.loginHeadline {
	font-family: 'Bungee Inline', cursive;
	text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px gold;
	font-size: 150px;
	margin-bottom: -10px;
	margin-top: 30px;
}

.logging {
	font-size: 30px;
	font-family: 'Voces', cursive;
}

.logging2 {
	height: 30px;
	width: 210px;
	font-size: 15px;
}

#loginButton {
	padding: 15px 15px;
	width: 100px;
	text-align: center;
	border-radius: 50%;
	font-size: 25px;
	text-transform: uppercase;
	background-color: gold;
	color: midnightblue;
	font-family: 'Passion One', cursive;
	font-weight: 900;

}

#signupLink {
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 25px;
	font-family: 'Voces', cursive;
}

.landingLink {
	font-size: 28px;
	text-decoration: none;
	font-family: 'Voces', cursive;
	color: black;
	text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px gold;
}

#landingLink {
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 25px;
	font-family: 'Voces', cursive;
}

.landingLink:hover {
	text-decoration: underline;
	color: gold;
}



.signupLink {
	font-size: 28px;
	text-decoration: none;
	font-family: 'Voces', cursive;
	color: black;
	text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px gold;
}

.signupLink:hover {
	text-decoration: underline;
	color: gold;
}

/*PROFILE CSS*/

#profileBody {
	background-color: lightgoldenrodyellow;
}

.profileWrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 80px;
}

.userName {
	position: relative;
	width: 50%;
	height: 80px;
	border: 1px solid black;
	background-color: midnightblue;
	top: 0;
	left: 0;
	margin-top: -10px;
	margin-left: -10px;
}

.favBars {
	position: relative;
	width: 720px;
	height: 80px;
	border: 1px solid black;
	background-color: gold;
	margin-top: -10px;
	margin-right: -55px;
}

#profileWelcome {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: 'Cantora One', sans-serif;
	text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px gold;
	color: white;
}


#barHeader {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: 'Cantora One', sans-serif;
	text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
	color: midnightblue;
}

#profileLinks {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 450px;
	height: 450px;
	left: 95px;
}

.plinks{
	position: relative;
	margin: 0 auto;
	font-size: 50px;
	padding: 15px;
	text-decoration: none;
	font-family: 'Holtwood One SC', serif;
	text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px gold;
	color: midnightblue;
}

.plinks:hover {
	text-decoration: underline;
	color: gold;
	text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px red;
}

.profileContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100vw;
}

.profileData {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 450px;
	height: 100vh;
	left: 370px;
}

.barList {
	position: relative;
	list-style: none;

}

.rightColumn {
	width: 450px;
	height: 210px;
	margin-bottom: -20px;
}

.deleteBar {
	padding: 15px 22px;
    text-align: center;
    font-size: 16px;
    text-decoration: bold;
    font-family: 'Fjalla One', sans-serif;
    border-radius: 50%;
    background-color: gold;
    color: midnightblue;
}

.moe {
	position: relative;
	width: 450px;
	height: 350px;
	display: flex;
	margin-bottom: -300px;
}

.barInfo {
	font-family: 'Fjalla One', sans-serif;
}

.name {
	font-size: 20px;
}

.address {
	font-size: 18px;
}

.rating {
	font-size: 18px;
}

/*SEARCH CSS*/

#searchBody {
	background-color: lightgoldenrodyellow;
}

#nav {
	display: flex;
	width: 100vw;
	background-color: midnightblue;
	margin-left: -8px;
	margin-top: -10px;
}

.sLinks {
	font-size: 22px;
	color: gold;
	padding: 15px;
	margin-left: -10px;
	margin-top: -10px;
	text-decoration: none;
}

.sLinks:hover {
	text-decoration: underline;
}

.searchHeaders {
	position: relative;
	width: 100vw;
	height: 270px;
	background-color: midnightblue;
	margin-left: -8px;
	margin-top: -50px;
}

.sportsBars {
	font-size: 75px;
	font-family: 'Bungee Inline', cursive;
	color: gold;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
    margin-bottom: -30px;
}

.searchBars {
	font-size: 55px;
	font-family: 'Bungee Inline', cursive;
	color: gold;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px red;
    margin-bottom: 15px;
}

#search {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

#search-input {
	margin-right: 10px;
	font-size: 20px;
	padding-right: 2px;
	width: 250px;
	font-family: 'Fira Sans', sans-serif;
	background-color: lightgoldenrodyellow;
}

#search-button {
	margin-left: 10px;
	padding: 15px 25px;
    text-align: center;
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    background-color: gold;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
}

.container {
	position: relative;
	display: flex;
	width: 100vw;
	flex-wrap: wrap;
}

.resultDiv{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  	margin: 0 auto;
  	width: 90vw;
  	left: 70px;
  	padding-top: 2px;

}

.result {
	width: 300px;
	height: 200px;
	border: 3px solid lightgoldenrodyellow;
	background-color: midnightblue;
}

.favorite {
	padding: 11px 20px;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 50%;
    background-color: gold;
    color: black;
    text-shadow: 1px 1px 2px black, 0 0 20px white, 0 0 5px white;
}

.names {
	font-family: 'Fira Sans', sans-serif;
	font-size: 21px;
	text-transform: uppercase;
	color: gold;
	text-shadow: 1px 1px 2px black, 0 0 20px white, 0 0 5px white;
	margin-bottom: 1px;
}

.addresses {
	font-family: 'Poppins', sans-serif;
	color: gold;
}

.ratings {
	font-family: 'Poppins', sans-serif;
	color: gold;
}


/*SIGNUP CSS*/

body {
	background-color: lightgoldenrodyellow;
}

.signupHeader {
	position: relative;
	display: flex;
	justify-content: center;
	font-family: 'Bungee Inline', cursive;
	text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px gold;
	font-size: 150px;
	color: black;
	margin-bottom: -300px;
	margin-top: 50px;
}

.formSection {
	position: relative;
	display: flex;
	justify-content: center;
	top: 300px;
}

#signupForm {
	position: relative;
}

#emailLabel {
	display: flex;
	justify-content: center;
	font-size: 30px;
	font-family: 'Voces', cursive;
	margin-bottom: -5px;
}

#email {
	height: 30px;
	width: 210px;
	font-size: 15px;
}

#signupBtn {
	/*padding: 15px 30px;*/
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    width: 75px;
    height: 30px;
	text-transform: uppercase;
	color: mightnightblue;
	background-color: gold;
	width: 100px;
	border-radius: 50%;
	font-family: 'Voces', cursive;
}

#passwordLabel {
	display: flex;
	justify-content: center;
	font-size: 30px;
	font-family: 'Voces', cursive;
	margin-bottom: -20px;
}

.searchInfo {
	height: 30px;
	width: 210px;
	font-size: 15px;
}

.homeLink {
	font-family: 'Voces', cursive;
	font-size: 24px;
	text-decoration: none;
	text-shadow: 1px 1px 2px gold, 0 0 25px white, 0 0 5px white;
	color: black;
}

.homeLink:hover {
	text-decoration: underline;
}

.loginLink {
	font-family: 'Voces', cursive;
	font-size: 24px;
	text-decoration: none;
	text-shadow: 1px 1px 2px gold, 0 0 25px white, 0 0 5px white;
	color: black;
}

.loginLink:hover {
	text-decoration: underline;
}



















