<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Login User</title>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Voces" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gorditas" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body class="loginMain">

<center><h1 class="loginHeadline">Login</h1></center>


  <main>
    <center><section>
      <form action="/users/login" method="POST">
        <label class="logging" for="email">Email</label><br>
        <input class="logging2" type="text" name="user[email]" placeholder="john.doe@example.com"><br>
        <label class="logging" for="password">Password</label><br>
        <input class="logging2" type="password" name="user[password]" placeholder="P4ssw0rd1234"><br>
        </br>
        <input type="submit" value="Login" id="loginButton">
      </form>
    </section></center>
  </main>

<div id="signupLink">
<a href="/users/new" class="signupLink">Sign Up</a>
</div>

</body>
</html>
