<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Profile</title>
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ruda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cantora+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
   
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
</head>

<body id="profileBody">

<div class="profileWrapper">

<div class="userName">
<h1 id="profileWelcome">Welcome, {{resData.user.email}}</h1>
</div>

<div class="favBars">
<h1 id="barHeader">Your Favorite Bars</h1>
</div>




</div>
 

<div class="profileContainer">        

<div id="profileLinks">
    <a href="/users/logout" class="plinks">Log Out</a>
    <a href="/bars" class="plinks">Find Another Bar</a>
    <img class="moe" src="https://media.giphy.com/media/FEWXPbLxkQ9FK/giphy.gif" />
</div>

        

<div class="profileData">{{#resData.favorites}}
        <div class="rightColumn">
        <ul class="barList">
            <li class="barInfo name"><b>NAME: </b> {{name}}</li>
            <li class="barInfo address"><b>ADDRESS: </b> {{address}}</li>
            <li class="barInfo rating"><b>RATING (OUT OF 5): </b> {{rating}}</li>
            <br>
            <button class="deleteBar" id="{{bar_id}}">REMOVE</button>
        </ul></div>
        {{/resData.favorites}}
</div>
</div>
</body>
</html>


